.Header {
    height: 30vh;
}

.banner-about {
    /* width: 500px; */
    height: 70vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.banner-about .about-text {
    color: #fff;
    width: 600px;
    line-height: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {

    .banner-about .about-text {
        color: #c328;
        width: 400px;
        line-height: 30px;
        font-size: 20px;
    }
    
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Header {
        height: 15vh;
    }

    .banner-about .about-text {
        color: #c328;
        width: 250px;
        line-height: 30px;
        font-size: 20px;
    }

}
