.Header {
    height: 15vh;
}

.banner-about {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.banner-about .about-text embed {
    width: 600px;
    height: 800px;
}

/* @media only screen and (max-width: 900px) {

    .banner-about .about-text embed {
        width: 300px;
        height: 500px;
    }
    
} */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .banner-about .about-text embed {
        width: 200px;
        height: 400px;
    }

}

